<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Title</title>
</head>
<body>
My name is Andrew Schell, and I am a Senior Full Stack Product Data Analyst. My research and engineering
interests
are mainly in
the areas of data cleaning, NLP chatbot agents, artificial intelligence, and algorithms that identify
patterns for business or social value in
user-friendly software
engineering.


Before I started my MITx masters, I graduated from Bellevue College with a bachelors degree in Data Analytics, and
did my
internship at
Secretary of State Regional Archives Bellevue Washington. I am working on a master degree in Statistics and
Data
Science MicroMasters from Massachusetts Institute of Technology MITx.

I am always asking questions about the value of certain decisions over others, test
theories and find short
term
solutions
that can be leveraged into long term strategic advantage, which
is,
however, not achievable
in many situations. I also apply Bayes Knowledge Training and Eisenhower decision matrices in the optimization of my
life, which is a hybrid Markov
decision process..
</body>
</html>